h2 {
  text-align: center;
  text-transform: uppercase;
}

ul {
  list-style: none;
}

.items {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.4rem;
}

.item {
  margin: 0.6rem;
}

.name,
.description {
  padding: 0 1rem;
}

.name {
  border-right: 1px solid;
}

.new-item {
  text-align: center;
}
